body{
    margin: 0;
    padding: 0;
    background-color: #1A1A2E;
}

.nav-bar{
    background-color: #1A1A2E;
}

.nav-menu{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: right;
    padding-right: 100px;
}

.nav-menu-item{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
    border-radius: 50px;
    transition: 0.5s;
}

.nav-menu-item > a{
    text-decoration: none;
    color: white;
}

.nav-menu-item:hover{
    background-color: #0F3460;
    transform: scale(1.05);
}

.active > a{
    color: #E94560;
}

.footerdiv{
    display: flex;
    background-color: #1A1A2E;
    justify-content: space-around;
}

.footertext{
    color: white;
}

.footer-menu-item > a{
    text-decoration: none;
    color: white;

}

.footer-menu{
    list-style: circle;
}

.footer-menu-item{
    color: white;

}

.footer-menu-item :hover{
    text-decoration: underline;

}

.pagehead{
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 60px;
    color: white;
    margin-bottom: 20px;
}

.pageline{
    margin: 10px 20px 40px 20px;
    background-color: #E94560;
    padding: 5px;
    border: #E94560;
}

.contactbox{
    background-color: #0F3460;
    margin: 0 20px 40px 20px;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
  }

  textarea{
    width: 100%;
  }
  
  label{
    font-size: 24px;
    color: aliceblue;
  }

.sendbutton{
    background-color: #E94560;
    border: none;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
}

.intro{
    display: flex;
    justify-content: center;
}

.shuvasisphoto{
    width: 50%;
    transition: 1s;
    border-radius: 50%; 
    transition: 1s;
    align-items: center;
}

.introhead{
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: whitesmoke;
    margin: 5px;
    padding: 50px;
}

.shuvasisphoto:hover{
    transform: scale(1.1);
    box-shadow: 20px 10px 5px white;
}

.pageline1{
    margin: 10px 20px 40px 20px;
    background-color: white;
    padding: 5px;
    border: white;
}