body{
    margin: 0;
    padding: 0;
    background-color: #1A1A2E;
}

.nav-bar{
    background-color: #1A1A2E;
}

.nav-menu{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: right;
    padding-right: 100px;
}

.nav-menu-item{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
    border-radius: 50px;
    transition: 0.5s;
}

.nav-menu-item > a{
    text-decoration: none;
    color: white;
}

.nav-menu-item:hover{
    background-color: #0F3460;
    transform: scale(1.05);
}

.active > a{
    color: #E94560;
}

.footerdiv{
    display: flex;
    background-color: #1A1A2E;
    justify-content: space-around;
}

.footertext{
    color: white;
}

.footer-menu-item > a{
    text-decoration: none;
    color: white;

}

.footer-menu{
    list-style: circle;
}

.footer-menu-item{
    color: white;

}

.footer-menu-item :hover{
    text-decoration: underline;

}

.pagehead{
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 60px;
    color: white;
    margin-bottom: 20px;
}

.pageline{
    margin: 10px 20px 40px 20px;
    background-color: #E94560;
    padding: 5px;
    border: #E94560;
}

.contactbox{
    background-color: #0F3460;
    margin: 0 20px 40px 20px;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
  }

  textarea{
    width: 100%;
    font-family: sans-serif;
  }
  
  label{
    font-size: 24px;
    color: aliceblue;
  }

.sendbutton{
    background-color: #E94560;
    border: none;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
}

.intro{
    display: flex;
    justify-content: center;
}

.shuvasisphoto{
    width: 50%;
    transition: 1s;
    border-radius: 50%; 
    transition: 1s;
    align-items: center;
}

.introhead{
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: whitesmoke;
    margin: 5px;
    padding: 50px;
}

.shuvasisphoto:hover{
    transform: scale(1.1);
    box-shadow: 20px 10px 5px white;
}

.expertise{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.expertisebox{
    width: 20%;
    height: 500px;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
    box-shadow: 10px 10px 5px white, 2px 2px 2px #E94560 inset;
    background-color: #0F3460;
    transition: 1.5s;
    text-align: center;

}

.expertisebox:hover{
    transform: scale(1.2);
    box-shadow: 10px 10px 10px #E94560;
}

.vegaslogo{
    width: 50%;
    padding-top: 40px;
}

.expertisehead{
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: floralwhite;
    text-shadow: 2px white;
    text-decoration: underline;
}

.expertisetext{
    font-size: 24px;
    padding: 0 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-align: center;

}

.hobbiesbox{
    width: 30%;
    height: 700px;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
    box-shadow: 10px 10px 5px white, 2px 2px 2px #E94560 inset;
    background-color: #0F3460;
    transition: 1.5s;
    text-align: center;

}

.hobbies{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.hobbiesbox:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 10px #E94560;
}

.contactbutton{
    padding: 30px;
    font-size: 78px;
    text-align: center;
    background-color: #E94560;
    transition: 0.5s;
}

.buttoncentre{
    display: flex;
    justify-content: center;
}

.contactbutton a{
    text-decoration: none;
    color: white;
}

.contactbutton:hover{
    transform: scale(1.3);
}

.mapicon{
    width: 40%;
}

.contacticon{
    width:40%;
}

.infobox{
    text-align: center;
}

.infotext{
    font-size: 28px;
    color: white ;
    text-decoration: solid underline;
}

.valologo{
    width: 60%;
    padding-top: 40px;
}

.hobbiestext{
    font-size: 28px;
    padding: 0 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-align: center;
}

.hobbieshead{
    font-size: 36px;
    font-family:'Times New Roman', Times, serif; 
    color: floralwhite;
    text-decoration: underline;
}

.educationdiv{
     width: 80%;
     height: 250px;
     background-color: #0F3460;
     padding: 20px;
     display: flex;
     border-radius: 80px;
}

.educationtop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.educationlogo1{
    width: 25%;
    padding-left: 10px;
    border-radius: 80px;
}

.educationlogo2{
    width: 15%;
    padding-left: 10px;
    border-radius: 80px;
}

.educationlogo3{
    width: 20%;
    padding-left: 10px;
    border-radius: 80px;
}

.experiencetop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experiencelogo1{
    width: 25%;
    padding-left: 10px;
    border-radius: 80px;
}

.experiencelogo2{
    width: 15%;
    padding-left: 10px;
    border-radius: 80px;
}

.experiencelogo3{
    width: 20%;
    padding-left: 10px;
    border-radius: 80px;

}

.experiencediv{
    width: 80%;
    height: 250px;
    background-color: #0F3460;
    padding: 20px;
    display: flex;
    border-radius: 80px;
}